<table>
  <tr>
    <th>Account Name</th>
    <th>Last three digits</th>
    <th>Card number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cards.each do |card| %>
  <tr>
    <td><%= card.account_name %></td>
    <td><%= card.last_three_digits %></td>
    <td><%= card.card_number %></td>
    <td><%= link_to 'Show', card %></td>
    <td><%= link_to 'Edit', edit_card_path(card) %></td>
    <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Download Statement', download_card_path(card) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Card', new_card_path %>
